/home/abay/lessons/Python
Python
/home/abay/lessons/marse11e
marse11e
/home/abay/lessons/modules
modules
Python Bootcamp/05.12.2022.py
/home/abay/lessons/Python Bootcamp/05.12.2022.py
Python Bootcamp/06.12.2022.py
/home/abay/lessons/Python Bootcamp/06.12.2022.py
Python Bootcamp/07.12.2022_if_else.py
Python Bootcamp/08.12.2022.py
Python Bootcamp/09.12.2022.py
Python Bootcamp/12.12.2022.py
Python Bootcamp/13.12.2022.py
Python Bootcamp/14.12.2022.py
Python Bootcamp/15.12.2022.py
Python Bootcamp/16.12.2022.py
Python Bootcamp/19.12.2022.py
Python Bootcamp/urok.py
Python Bootcamp/21.12.2022.py
def
/home/abay/lessons/def
hahaton.txt
m.txt
python.txt
users.txt
word.txt
Python Bootcamp/23.12.2022.py
Python Bootcamp/20.12.2022.py
